body {
  background: rgb(110, 96, 231);
}
.main-container {
  padding-top: 30px;
}
.container {
  padding-top: 10px;
  max-width: 400px;
  margin: auto;
  background: rgb(179, 241, 10);
  height: 400px;
}
.input-search {
  margin: auto;
  max-width: 50%;
}
.location {
  color: rgb(250, 9, 250);
  margin-top: 30px;
  margin-left: 70px;
}
.state {
  color: rgb(250, 9, 250);
  margin-top: 30px;
  margin-left: 70px;
}
.main-container span {
    color:blue;

}
.input-search input {
    width:100%;
}
.input-search input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }